@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1 class="clr-text py-1">@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login" class="clr-text">click here to log in</a>.
</p>
